{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>Varaukset</h1>

{% if errors %}
{{forms.error_div(errors)}}
{% endif %}

{% if message is not empty %}<div class="alert alert-success">{{message}}</div>{% endif %}
{% if user_logged_in and (user_logged_in.tyyppi == 'johtaja' or user_logged_in.tyyppi == 'tyontekija') %}
<a href="{{base_path}}/varaus/uusi" class="btn btn-primary" role="button">Tee varaus</a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <td>Ajankohta</td>
            <td>Terapia</td>
            <td>Asiakas</td>
            <td>Terapeutti</td>
            <td>Toimipaikka</td>
            <td>Peruutettu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for varaus in varaukset %}
        <tr>
            <td>{{varaus.aloitusaika}}</td>
            <td>{{varaus.palvelu_nimi}}</td>
            <td>{{varaus.asiakas_etunimi ~ ' ' ~ varaus.asiakas_sukunimi }}</td>
            <td>{{varaus.tyontekija_etunimi ~ ' ' ~ varaus.tyontekija_sukunimi}}</td>
            <td>{{varaus.toimitila_nimi}}</td>   
            <td>{{varaus.on_peruutettu}}</td>  
            <td>{{forms.destroy_button("#{base_path}/varaus/#{varaus.id}/poista")}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
