{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
<h1>Lisää uusi asiakas</h1>
{% else %}
<h1>Rekisteröidy asiakkaaksi</h1>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/asiakas" class="form-horizontal">
    <div class="form-group">
        <label for="sukunimi" class='col-sm-2 control-label'>Sukunimi</label>
        <div class="col-sm-10">
            <input class="form-control" id="sukunimi" name="sukunimi" type="text" value="{{asiakas.sukunimi}}">
        </div>
    </div>
    <div class="form-group">
        <label for="etunimi" class='col-sm-2 control-label'>Etunimi</label>
        <div class="col-sm-10">
            <input class="form-control" id="etunimi" name="etunimi" type="text" value="{{asiakas.etunimi}}">
        </div>
    </div>
    <div class="form-group">
        <label for="sahkoposti" class='col-sm-2 control-label'>Sähköposti</label>
        <div class="col-sm-10">
            <input class="form-control" id="sahkoposti" name="sahkoposti" type="text" value="{{asiakas.sahkoposti}}">
        </div>
    </div>
    <div class="form-group">
        <label for="salasana" class='col-sm-2 control-label'>Salasana</label>
        <div class="col-sm-10">
            <input class="form-control" id="salasana" name="salasana" type="password">
        </div>
    </div>
    <div class="form-group">
        <label for="salasana2" class='col-sm-2 control-label'>Salasana uudelleen</label>
        <div class="col-sm-10">
            <input class="form-control" id="salasana2" name="salasana2" type="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type='submit' class='btn btn-primary'>Tallenna</button>
        </div>
    </div>
</form>

{% if user_logged_in and (user_logged_in.tyyppi == 'johtaja' or user_logged_in.tyyppi == 'tyontekija') %}
<a href="{{base_path}}/asiakas" class="btn btn-link" role="button">Takaisin asiakaslistaan</a>
{% endif %}
{% endblock %}
