{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<h1>Asiakkaat</h1>

{% if errors %}
{{forms.error_div(errors)}}
{% endif %}

{% if message is not empty %}<div class="alert alert-success">{{message}}</div>{% endif %}
<a href="{{base_path}}/asiakas/uusi" class="btn btn-primary" role="button">Lisää asiakas</a>
<table class="table">
    <thead>
        <tr>
            <td>Nimi</td>
            <td>Sähköposti</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for asiakas in asiakkaat %}
        <tr>
            <td>{{asiakas.sukunimi ~ ', ' ~ asiakas.etunimi}}</td>
            <td>{{asiakas.sahkoposti}}</td>           
            <td>{{forms.edit_button("#{base_path}/asiakas/#{asiakas.id}/muokkaa")}}</td>
            <td>{{forms.destroy_button("#{base_path}/asiakas/#{asiakas.id}/poista")}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
