{% extends "base.html" %}
{% block content %}
<h1>Muokkaa työntekijän tietoja</h1>
{% if message is not empty %}<div class="alert alert-success">{{message}}</div>{% endif %}
<form method="post" action="{{base_path}}/tyontekija/{{tyontekija.id}}/muokkaa" class="form-horizontal">
    <div class="form-group">
        <label for="sukunimi" class='col-sm-2 control-label'>Sukunimi</label>
        <div class="col-sm-10">
            <input class="form-control" id="sukunimi" name="sukunimi" type="text" value="{{tyontekija.sukunimi}}">
        </div>
    </div>
    <div class="form-group">
        <label for="etunimi" class='col-sm-2 control-label'>Etunimi</label>
        <div class="col-sm-10">
            <input class="form-control" id="etunimi" name="etunimi" type="text" value="{{tyontekija.etunimi}}">
        </div>
    </div>
    <div class="form-group">
        <label for="sahkoposti" class='col-sm-2 control-label'>Sähköposti</label>
        <div class="col-sm-10">
            <input class="form-control" id="sahkoposti" name="sahkoposti" type="text" value="{{tyontekija.sahkoposti}}">
        </div>
    </div>
        <div class="form-group">
        <label for="aloitus_pvm" class='col-sm-2 control-label'>Aloittanut</label>
        <div class="col-sm-10">
            <input class="form-control" id="aloitus_pvm" name="aloitus_pvm" type="date" value="{{tyontekija.aloitus_pvm}}">
        </div>
    </div>
        <div class="form-group">
        <label for="lopetus_pvm" class='col-sm-2 control-label'>Lopettanut</label>
        <div class="col-sm-10">
            <input class="form-control" id="lopetus_pvm" name="lopetus_pvm" type="date" value="{{tyontekija.lopetus_pvm}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type='submit' class='btn btn-primary'>Tallenna</button>
        </div>
    </div>
</form>

<a href="{{base_path}}/tyontekija" class="btn btn-link" role="button">Takaisin terapeuttilistaan</a>
{% endblock %}