{% extends "base.html" %}
{% block content %}
<h1>Lisää palvelu</h1>
<form method="post" action="{{base_path}}/palvelu" class="form-horizontal">
    <div class="form-group">
        <label for="nimi" class="col-sm-2 control-label">Nimi</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="nimi" name="nimi">
        </div>
    </div>
    <div class="form-group">
        <label for="kesto" class="col-sm-2 control-label">Kesto</label>
        <div class="col-sm-10">
            <input class="form-control" type="time" id="kesto" name="kesto">
        </div>
    </div>
    <div class="form-group">
        <label for="kuvaus" class="col-sm-2 control-label">Kuvaus</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="kuvaus" name="kuvaus"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 subform">
            <label class="subform-heading">Valitse terapiaan soveltuvat toimitilat</label>
            <table>
                <thead>
                    <tr>
                        <td class="subform-row-header-col">Nimi</td>
                        <td>Soveltuu palvelulle</td>
                    </tr>
                </thead>
                <tbody>
                    {% for toimitila in toimitilat %}
                    <tr class="soveltuva_toimitila subform-row">
                        <td class="subform-row-header-col">{{toimitila.nimi}}</td>
                        <td><input type="checkbox" class="toimitila_id" value="{{toimitila.id}}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
    <div class="form-group">
        <div class='col-sm-offset-2 subform'>
            <label class="subform-heading">Merkitse sessiohinta terapiaa tarjoaville terapeuteille</label>
            <table>
                <thead>
                    <tr>
                        <td class='subform-row-header-col'>Nimi</td>
                        <td>Hinta</td>
                    </tr>
                </thead>
                <tbody>
                    {% for tyontekija in tyontekijat %}
                    <tr class="tarjoava_tyontekija subform-row">
                        <td class="subform-row-header-col">{{ tyontekija.etunimi ~ ' ' ~ tyontekija.sukunimi }}</td>
                        <td class="tyontekija_hinta" data-tyontekija_id='{{tyontekija.id}}'><input type='text' class="numeric-input tyontekija_hinta"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type='submit' class='btn btn-primary'>Tallenna</button>
            <button class='btn btn-primary' onclick="saveChanges()">JS-Tallenna</button>
        </div>
    </div>
</form>

<a href="{{base_path}}/palvelu" class="btn btn-link" role="button">Takaisin palvelulistaan</a>

<script src="/vallila/assets/js/palvelu_lisaa.js"></script>
{% endblock %}
