{% extends "base.html" %}
{% block content %}
<h1>Niskahieronta</h1>
<button class="btn btn-danger">Poista</button>
<button class="btn btn-primary">Muokkaa</button>
<p>Nam molestie nec tortor. Donec placerat leo sit amet velit. Vestibulum id 
    justo ut vitae massa. Proin in dolor mauris consequat aliquam. Donec ipsum, 
    vestibulum ullamcorper venenatis augue. Aliquam tempus nisi in auctor 
    vulputate, erat felis pellentesque augue nec, pellentesque lectus justo nec 
    erat. Aliquam et nisl. Quisque sit amet dolor in justo pretium condimentum.
</p>

<h2>Terapeutit</h2>
<ul>
    <li>Terttu Testaaja</li>
</ul>

<h2>Toimipaikat</h2>
<ul>
    <li>Allu (Aleksis Kiven katu 9, Helsinki)</li>
    <li>Portti (Maistraatinportti 2, Helsinki)</li>
</ul>

<a href="palvelu" class="btn btn-link" role="button">Takaisin palvelulistaan</a>
{% endblock %}