#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.subform-row-header-col {
    padding-right: 10px;
}

.subform-row {
    padding-top: 2px;
    padding-bottom: 2px;
}

.subform {
    padding-left: 15px;
}

.subform-heading {
    font-weight: 700;
    text-align: left;
}

.numeric-input {
    text-align: right;
}