{% extends "base.html" %}
{% block content %}
<h1>Toimitilat</h1>
{% if message is not empty %}<div class="alert alert-success">{{message}}</div>{% endif %}
<a href="{{base_path}}/toimitila/uusi" class="btn btn-primary" role="button">Lisää toimitila</a>
<table class="table">
    <thead>
        <tr>
            <td>Nimi</td>
            <td>Katuosoite</td>
            <td>Paikkakunta</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for toimitila in toimitilat %}
        <tr>
            <td>{{toimitila.nimi}}</td>
            <td>{{toimitila.katuosoite}}</td>
            <td>{{toimitila.paikkakunta}}</td>            
            <td><button type="button" class="btn btn-primary">Muuta</button></td>
            <td><button type="button" class="btn btn-danger">Poista</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}